@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    background-color: #272727;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.8;
}

main {
    padding: 15px;
    box-shadow: 0px 0px 3px #ff652f;
    border-radius: 10px;
}

main .display {
    padding-bottom: 15px;
    color: #14a76c;
    border-bottom: 1px solid rgba(255, 101, 47, 0.2);
    text-align: right;
}

.display .secondary {
    font-family: 'VT323', monospace;
    font-size: 24px;
    height: 25.6px;
}

.display .primary {
    font-family: 'Rajdhani', sans-serif;
    font-size: 50px;
    margin-top: 30px;
}

main .keys {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(5, 65px);
    gap: 15px;
    margin-top: 15px;
}

.keys .key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #747474;
    color: #fff;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.keys .key:hover {
    filter: brightness(130%);
    cursor: pointer;
}

.keys .key:active {
    scale: 0.95;
}

.keys .key::selection {
    background-color: transparent;
}

.keys .operator {
    background-color: #ff652f;
}

.keys #clear,
.keys #backspace {
    background-color: #d21f3c;
}

.keys #sign,
.keys #percent {
    background-color: #a9a9a9;
    color: #272727;
}